<%= form_for :forum_discussions, :url => { :action => :discusionesPorForo } do |f| %>

<%= stylesheet_link_tag "basePantallas" %>

<nav class="header navbar">
  <li class="nav-item col-lg-6"><%= link_to "Volver a foros", controller: "forums", action: "forosPorCurso", course:  @forum_discussions.pluck(:course)%></li>
</nav>


<div class="contenido container-fluid">
<div class="row">
  <div class="col-md-12 titulo"><h1>Discusiones</h1></div>
</div>

<% @forum_discussions.each do |forum_discussions| %>

<div class="row area">
  <%= link_to forum_discussions.name,{controller: "forum_posts", action: "postPorDiscusionPrincipal", discussion: forum_discussions.id}, class: "area"  %>
</div>
<% end %>

</div>

<nav class= "footer navbar" >

     <li class="nav-item col-lg-6">Mis Cursos</li>
     <li class="nav-item col-lg-6">Buscar Cursos</li>

</nav>



<% end %>
