<h1>Editing Assignsubmission File</h1>

<%= render 'form', assignsubmission_file: @assignsubmission_file %>

<%= link_to 'Show', @assignsubmission_file %> |
<%= link_to 'Back', assignsubmission_files_path %>
