<div class="container-fluid">

  <div  class="card">


    <div class="card-header"><h1>Bienvendo</h1></div>



     <div class="list-group list-group-flush">

        <div class="list-group-item">

          <h2> En esta plataforma podras encontrar tus cursos, materiales, tareas y calificaciones</h2>


                     <h1> </h1>



        <%= link_to 'Ingresar', users_email_path, method: :get ,class: 'btn btn-primary btn-lg  btn-block' %>

         </div>
        </div>



       </div>
     </div>
