
<%= stylesheet_link_tag "baseMensajes" %>
<div class="container-fluid">
<div class = "Estilo">


    <div  class="card">


      <div class="card-header"><h1>Enviado</h1></div>


      <div class="list-group list-group-flush">

        <div class="list-group-item">


               <div class="col-lg-12"><h1> Tu tarea ha sido enviada por email a tu profesor </h1></div>

               <%= link_to 'Volver al curso', :back, :class => "btn btn-primary btn-lg btn-block" %>


         </div>
        </div>
        </div>
      </div>
    </div>
  </div>
