<%= form_for :contexts, :url => { :action => :course } do |f| %>


<%= stylesheet_link_tag "basePantallas" %>
<div class="contenido container-fluid">
<div class="row">
  <div class="col-md-12 titulo"><h1>Mis Cursos</h1></div>
</div>
<% @context.each do |context| %>
<div class="row area">

  <%= link_to context.fullname, {controller: "resources", action: "recursosPorCurso", course: context.id}, class: "area"%>


</div>
<% end %>

</div>


<nav class="navbar align-items-end navbar-expand-lg navbar-light bg-light">

     <li class="nav-item  col-lg-3"><p>Mis Cursos</p></li>
     <li class="nav-item col-lg-3"><p>Buscar Cursos</p></li>
     <li class="nav-item col-lg-3"><p>Mi Usuario</p></li>
     <li class="nav-item col-lg-3"><p>Mis Mensajes</p></li>

</nav>
<% end %>
