<%= form_for :contexts, :url => { :action => :course } do |f| %>


<%= stylesheet_link_tag "basePantallas" %>
<div class="contenido container-fluid">
<div class="row">
  <div class="col-md-12 titulo"><h1>Mis Cursos</h1></div>
</div>
<% @context.each do |context| %>
<div class="row area">

  <%= link_to context.fullname, {controller: "resources", action: "recursosPorCurso", course: context.id}, class: "area"%>

</div>
<% end %>

</div>


<nav class="footer navbar ">

  <nav class= "footer navbar" >

       <li class="nav-item col-lg-12"><%= link_to "Buscar cursos", {controller: "courses", action: "buscar", id:  cookies[:userid]} %></li>


  </nav>

</nav>
<% end %>
