<%= form_for :courses, :url => { :action => :cursos} do |f| %>

<div class="row">
  <div class="col-md-12 courseTitle"><h1>Resultados de la busqueda</h1></div>
</div>
<% @course.each do |course| %>

<div class="row">
<%= link_to course.fullname, controller: "resources", action: "recursosPorCurso", course: course.id, class: 'btn btn-primary btn-lg  btn-block'%>
</div>
<% end %>



<% end %>
