<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Estimado profesor:  Junto con saludar le infomo que en el alumno <%= @alumn %> está solicitando el registro en su curso. <p>
  </body>
</html>
