body
{
  background-color: black;
}


.Estilo

{
    align-content: center;
    text-align: center;
    margin-top: 10%;
    font-size: 250%;

}

 .entrada

 {
   min-width: 100% !important;
 }

 a{
   color: white;
 }
