

.titulo
{
      text-align: center;
      margin-top: 3%;
      font-size: 250%;
      font-weight: bold !important;

}

.contenido
{
  text-align: left !important;

  font-size: 250% !important;
}

.boton {
    background-color: gray; /* Green */
    border: 80 px;
    color: black;
    padding: 15px 32px;
    display: inline-block;

}

.area{
  background-color: #D3D3D3;
  color: black;
  border-style: solid;
  border-width: 1px;
}

a
{
  color: black;
  display:block;
  min-width: 100%;
}

.navbar-nav > li > a
{
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}
.footer
{
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 250%;
    text-align: center !important;
    background-color:  black;
    color: white;
}
